.Weather{
    border: 1px solid #A684F5;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
   
}
.Weather ul {
list-style: none;
padding: 0px 0px 0px 0px;
}

.Weather info{
text-align: left;
padding: 0px 0px 0px 0px;
margin:0px 0px 0px 0px;
list-style: none;
padding: 0px 0px 0px 0px;
}



.Weather temperature{
    font-weight: bolder;
    font-size: 64px;
    font-weight: 500;   
}

.Weather units{
font-size: 16px;
font-weight: 600px;
position: relative;
top:-32px;
margin-left:5px;
}


.Weather h1 {
margin: 20px 0px 0px 0px;
text-align:left;
color: teal;
}

.form-control{
display: inline;
margin: 0px 0px 10px 0px;

}

.col-10 {
margin: 5px 0px 10px 5px;
}

.col-6{
 
}

