.Weather{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: rgb(47,19,107);
background-image: linear-gradient(0deg, rgba(47,19,107,1) 0%, rgba(87,26,159,1) 13%, rgba(87,42,148,1) 23%, rgba(79,52,144,1) 36%, rgba(88,107,185,1) 65%, rgba(47,231,228,0.9502467105263158) 100%);
    padding: 30px 30px 40px 30px;
    margin: 20px 20px 20px 10px;
    font-family: Raleway;
    font-weight: lighter;
   
}
.info {
display:block;
text-align: center;
font-size: 20px;;
list-style: none;
padding: 0px 0px 30px 0px;
color: white;
margin: 0 auto;
padding: 0px 0px 0px 0px;
}


.conditions{
 display:block;
text-align: center;
font-size: 18px;;
list-style: none;
padding: 0px 0px 30px 0px;
color: white;
margin-top: 20px;
padding: 0px 0px 0px 0px;   
}
.Weather info{

padding: 0px 0px 0px 0px;
margin:0px 0px 0px 0px;
list-style: none;
padding: 0px 0px 0px 0px;
}




.Weather h1 {
margin: 20px 0px 0px 0px;
text-align:center;
color: rgb(247, 248, 248);
}

.form-control{
display: inline-block;
margin: 0px 0px 10px 0px;

}

.col-10 {
margin: 0 auto;
}

.clearfix{
 display: inline-block;
 margin-left:20px;
}

.temperature{
font-family:Raleway;
 font-size: 60px;
 font-weight: 600;
 color:white;

}


.unit {
 font-family:Raleway;
 font-size: 20px;
 font-weight: 600;
 top:-80px;
 color: whitesmoke;
 margin-left: 10px;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

 