.Weather{
    border: 1px solid #A684F5;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
   
}
.Weather ul {
list-style: none;
padding: 0px 0px 0px 0px;
}

.Weather info{
text-align: left;
padding: 0px 0px 0px 0px;
margin:0px 0px 0px 0px;
list-style: none;
padding: 0px 0px 0px 0px;
}

.Weather h1 {
margin: 20px 0px 0px 0px;
text-align:left;
color: teal;
}

.form-control{
display: inline;
margin: 0px 0px 10px 0px;

}

.col-10 {
margin: 5px 0px 10px 5px;
}

.clearfix{
 display: inline-block;
 margin-left:20px;
}

.temperature{
font-family:'Courier New', Courier, monospace;
 font-size: 40px;
 font-weight: 600;
 color:teal;

}


.unit {
 font-family:'Courier New', Courier, monospace;
 font-size: 20px;
 font-weight: 600;
 top:-80px;
}
