.WeatherInfo{


}


.WeatherForecast canvas {
    display: block;
    margin: 10px auto;
    text-align: center;
    color: whitesmoke;
}

.col {
    color: white;
text-align: center;
padding: 0px 0px 0px 0px;

}

.tempPreview{
    font-size: 18px;
    font-weight: 490px;
}

